
.title-lobby {
    color: $orange;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    
    span {
        font-size: 2.5rem;
        font-weight: 400;
    }
}